@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer {
    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.dashboard {
    background-color: hsl(226, 43%, 10%);
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

.profile {
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 12px;
    height: 100%;
    background-color: hsl(235, 46%, 20%);
}

.profile-info {
    background-color: hsl(246, 80%, 60%);
    border-radius: 12px;
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;
    overflow: auto;
}

.profile-info p {
    font-family: 'Rubik';
    font-size: 12px;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
}

.profile-info h1 {
    font-family: 'Rubik';
    font-weight: 400;
    margin-bottom: 1rem;
    color: hsl(236, 100%, 87%);
}

.profile img {
    border-radius: 50%;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.time-tracking-cards {
    grid-area: 1 / 2 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}
.button-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

.button-section button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: hsl(236, 100%, 87%);
    font-family: 'Rubik';
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0.5rem;
    
}

.card {
    position: relative;
    width: 200px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-overlay {
    background-color: hsl(235, 46%, 20%);
    z-index: 20;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
    border-radius: 12px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-header h2 {
    font-family: 'Rubik';
    font-size: 12px;
    font-weight: 400;
}

.card-header img {
    padding: 0.25rem;
}

.current-hours {
    font-family: 'Rubik';
    font-weight: 400;
    color: hsl(236, 100%, 87%);
}

.previous-hours {
       font-family: 'Rubik';
    font-size: 12px;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
}

#work {
background-color: hsl(15, 100%, 70%);
}

#play {
background-color: hsl(195, 74%, 62%);
}

#study {
background-color: hsl(348, 100%, 68%);
}

#exercise {
background-color: hsl(145, 58%, 55%);
}

#social {
background-color: hsl(264, 64%, 52%);
}

#self-care {
background-color: hsl(43, 84%, 65%);
}

.icon {
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    position: absolute;
}

.attribution { 
    color: azure;
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 67%, 74%); 
}
