@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer {
    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.dashboard {
    background-color: hsl(226, 43%, 10%);
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

.profile {
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 15px;
    height: 100%;
    background-color: hsl(235, 46%, 20%);
}

.profile-info {
    background-color: hsl(246, 80%, 60%);
    border-radius: 15px;
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;
    overflow: auto;
}

.profile-info p {
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
}

.profile-info h1 {
    font-family: 'Rubik';
    font-weight: 400;
    margin-bottom: 1rem;
    color: hsl(236, 100%, 87%);
}

.profile img {
    border-radius: 50%;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.time-tracking-cards {
    grid-area: 1 / 2 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}
.button-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

.button-section button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: hsl(236, 100%, 87%);
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0.5rem;
    
}

.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
